IVANGenXMLClient/Web References/IVANGenXMLService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenXML_D01">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="D01-TS" nillable="true" type="tns:D01TS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="D01TS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NoiDung" type="tns:NoiDung" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoiDung">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TenBangKe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KemTheo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BangKe" type="tns:BangKe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BangKe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ThongTin" type="tns:ThongTin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ThongTin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MasoBHXH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoaiVanBan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoVanBan" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayBanHanh" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayHieuLuc" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CoQuanBanHanh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrichYeu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoiDungThamDinh" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenXML_D01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenXML_D01Result" type="tns:MsgResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MsgResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenXML_D01SoapIn">
    <wsdl:part name="parameters" element="tns:GenXML_D01" />
  </wsdl:message>
  <wsdl:message name="GenXML_D01SoapOut">
    <wsdl:part name="parameters" element="tns:GenXML_D01Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GenXML_D01">
      <wsdl:input message="tns:GenXML_D01SoapIn" />
      <wsdl:output message="tns:GenXML_D01SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenXML_D01">
      <soap:operation soapAction="http://tempuri.org/GenXML_D01" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenXML_D01">
      <soap12:operation soapAction="http://tempuri.org/GenXML_D01" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://localhost:44323/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://localhost:44323/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>